body {
    background-color: #f7f7f7;
    font-family: Helvetica, sans-serif;   
}

button {
    color: white;
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    border: 1px solid #4e4e4e;
    border-radius: 7px;
    text-transform: capitalize;
    box-shadow: 0 0 5px #000;
    font-weight: bold;
}

button:disabled {
    color: #4e4e4e;
}

button:hover {
    box-shadow: 0 0 5px #d4d4d4;
}

#btn-clear {
    box-shadow: none;
    float: right; 
    margin: 5px 5px 0 0;
}

#blackjack {
    min-height: 600px;
    width: 800px;
    margin: 20px auto 0 auto;   
    background-image: url('../img/blackjack_table.png');
    padding: 10px;
    border: 5px solid #261e17;
    border-radius: 3px;
    box-shadow: 0 0 7px #000;
    position: relative;
}


#dealer-value {
    margin-bottom: 170px;
    text-align: center;
}

#player-value {
    margin-bottom: 40px;
    text-align: center;
}

#dealer-cards {
    display: flex;
    justify-content: center;
    min-width: 100px;
    margin: 10px auto 10px auto;
    
    min-height: 100px;
}

#player-cards {
    min-width: 100px;
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: center;
    min-height: 100px;
}

#game-btns {
    text-align: center; 
    padding: 10px; 
    margin-bottom: 10px;
}

#game-chips {
    display: flex; 
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

#bet-bal-wrap {
    display: inline-block; 
    height: 70px; 
    width: 180px;  
    margin-right: 15px; 
    font-weight: bold;
}

#bet-wrap {
    background-color: white; 
    border: 2px solid #5a5a5a; 
    border-radius: 10px; 
    margin-bottom: 5px;
}

#bal-wrap {
    background-color: white; 
    padding: 7px 5px 4px 5px; 
    border: 2px solid #000; 
    border-radius: 10px;
}

.card {
    display: inline-block;
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    height: 77px;
    width: 46px;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    border: 1px solid;
    border-radius: 7%;
    box-shadow: 0 0 7px #000;
    margin-right: 5px;
}

.hole-card {
    display: inline-block;
    background-color: #fff;
    background-image: url('../img/card_back.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 56px 87px;
    height: 97px;
    width: 66px;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    border: 1px solid;
    border-radius: 7%;
    box-shadow: 0 0 7px #000;
}

.card img {
    display: block;
    margin: 3px 8px;
}

.chip {
    margin-right: 7px;
}

.btn {
    min-width: 100px;
    height: 40px;
}

.popup {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;  
    width: 390px;
    top: 230px;
    left: 205px;
    text-align: center;
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 0 0 5px #000;
}